.logo {
    font-size: 1.20rem;
    font-weight: 700;
}
.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-section {
    padding-top: 4rem;
}

ul {
    list-style-type: none;
}